<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>Frete Planejado</title>

        <link href='http://fonts.googleapis.com/css?family=Raleway:700,100,400,200,300' rel='stylesheet' type='text/css'>
        <link href="bower_components/jquery.onepage-scroll/dist/jquery.onepage-scroll.css" rel="stylesheet"/>
        <link href="bower_components/font-awesome/css/font-awesome.css" rel="stylesheet"/>

        <link rel="stylesheet" type="text/css" href="content/css/base.css">
        <link rel="stylesheet" type="text/css" href="content/css/main.css">
    </head>
    <body>
      <header id="user-controls">
    
        <button class="toggle-menu"><span class="fa fa-bars"></span></button>

        <div class="header-content">
            <!-- MENU --> 
            <ul id="main-menu">
                <li><a href="/FretePlanejado">Home</a></li>
                <li><a href="#">Fretes</a></li>
                <li><a href="#">Calendário</a></li>
                <li><a href="/FretePlanejado/contato.jsp">Contato</a></li>
            </ul>
            <!-- /MENU -->

            <% if(session.getAttribute("Logado") == null) { %>
              <div class="deslogado">
                <form id="login-form" action="/FretePlanejado/Login"
                  class="<%=(session.getAttribute("Erro") != null) ? "invalid" : "" %>"
                  method="post">
                    <div class="group">
                        <label for="username">Nome de Usuário:</label>
                        <input id="username" name="Login" type="text">
                    </div>

                    <div class="group">
                        <label for="senha">Senha:</label>
                        <input id="senha" name="Senha" type="password">
                    </div>

                  <button id="login">Log In</button>
                </form>

                <button id="signup">Registrar</button>
              </div>
            <%
              if(session.getAttribute("Erro") != null)
                session.setAttribute("Erro", null);
            } else {
            %>
              <div class="logado">
                <span id="username-display"><img src="/FretePlanejado/content/img/avatar.png" /> Olá, Administrador!</span>
                <a href="/FretePlanejado/app.jsp" class="button" id="app">Painel</a>
                <a href="/FretePlanejado/Logout" class="button" id="logout">Log Out</a>
              </div>
            <% } %>
        </div>

    </header>

      <div class="main">
            <section id="apresentacao">
              <div class="conteudo">
                <h1>Frete Planejado</h1>

                <p>Planeje seus fretes de forma rápida, inteligente
                  e precisa.</p>

                <div class="download-buttons">
                    <a href="#" class="button android"><span class="fa fa-android"></span> Download</a>
                    <a href="#" class="button windows-phone"><span class="fa fa-windows"></span> Download</a>
                    <a href="#" class="button ios"><span class="fa fa-apple"></span> Download</a>
                </div>

                <p>Acessível de qualquer dispositivo, em qualquer lugar, a qualquer hora.</p>
              </div>

              <div class="showcase-image">
                <img src="content/img/freteplanejado.png"  alt="Logo do Frete Planejado"
                     class="logo" width="500" />
              </div>
            </section>

            <section id="rastreamento">
              <div class="conteudo">
                <h2>Para Quem Envia</h2>

                <p>Gerencie suas entregas de maneira fácil e rápida, sem se preocupar com
                    a transportadora.</p>

                <p>Rastrei sua entrega com um mapa atualizado em tempo real.</p>

                <p>Encontre a transportadora ideal para a sua carga consultando seu histórico
                e avaliações de clientes anteriores.</p>
              </div>

              <div class="showcase-image">
                <img src="content/img/staticmap.png" alt="Mapa" class="mapa" />
              </div>
            </section>


            <section id="para-transportadoras-intro">
              <div class="conteudo">
                <h2>Para Quem Transporta</h2>

                <p>Divulgue sua marca e gerencie suas rotas.</p>

                <p>Gerenciamento completo para sua frota, com informações de localização
                em tempo real e sugestões para uma melhor programação em suas entregas.</p>

                 <p>Com um amplo registro de cargas disponível, encontre a que melhor se encaixa
                em sua rota.</p>
              </div>

              <div class="showcase-image">
                  <img src="content/img/caminhao2.png" class="caminhao" alt="Caiminhão de Frete">
              </div>
            </section>

            <section id="contato">
              <div class="conteudo">
                <h2>Contato</h2>

                <p>Quer saber mais sobre o frete planejado? tem alguma duvida? Alguma segestão?</p>

                <a href="/FretePlanejado/contato.jsp" class="entrecontato button">Entre em Contato!</a>

                <p>Você também nos encontra nas redes socias</p>

                <ul id="redes-sociais">
                    <li><a href="http://fb.com/FretePlanejado" target="_BLANK"><img src="/FretePlanejado/content/img/facebook.png" /></a></li>
                    <li><a href="#"><img src="/FretePlanejado/content/img/twitter.png" /></a></li>
                    <li><a href="#"><img src="/FretePlanejado/content/img/youtube.png" /></a></li>
                </ul>
              </div>

              <div class="showcase-image">
                  <img src="content/img/contato.png" class="contato">
              </div>
            </section>
        </div>


        <script src="bower_components/modernizr/modernizr.js" rel="stylesheet"></script>
        <script src="bower_components/jquery/jquery.min.js" rel="stylesheet"></script>
        <script src="bower_components/jquery.onepage-scroll/dist/jquery.onepage-scroll.min.js" rel="stylesheet"/></script>
        <script src="content/js/main.js"></script>
    </body>
</html>
