<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>com.freteplanejado.servlet.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>com.freteplanejado.servlet.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Contato</servlet-name>
        <servlet-class>Contato</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ContatoServlet</servlet-name>
        <servlet-class>ContatoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ContatoPost</servlet-name>
        <servlet-class>com.freteplanejado.servlet.ContatoPost</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistroUsuario</servlet-name>
        <servlet-class>com.freteplanejado.servlet.RegistroUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistroFrete</servlet-name>
        <servlet-class>com.freteplanejado.servlet.RegistroFrete</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Contato</servlet-name>
        <url-pattern>/Contato</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ContatoServlet</servlet-name>
        <url-pattern>/ContatoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ContatoPost</servlet-name>
        <url-pattern>/ContatoPost</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistroUsuario</servlet-name>
        <url-pattern>/RegistroUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistroFrete</servlet-name>
        <url-pattern>/RegistroFrete</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
