body {
  padding: 0;
  margin: 0;
  margin-top: 60px;
}

article#fretes {
}

article#fretes #listadefretes ul {
    list-style: none;
    padding: 0; 
}

article#fretes #listadefretes ul div {
    padding-top: 5px;
}

article#fretes table  {
    font-size: 20px;
    width: 100%;
    border-collapse: collapse;
}

article#fretes table th,
article#fretes table td  {
    border: 1px solid #f4f4f4;
    padding: .2em .5em;
}

article#fretes .actions  {
    text-align: center;
}
article#fretes .actions .button {
  padding: .3em;
  vertical-align: middle;
  display: inline-block;
}

article#fretes .more-info {
    display: none;
}

article#fretes #listadefretes ul label {
    font-weight: bold;
}

article#fretes #listadefretes ul p {
    display: inline;
}

header#app-header {
    height: 500px;
    background-image: url(/FretePlanejado/content/img/bg.jpg);
    background-size: cover;
    background-attachment: fixed;
}

header#app-header h1 {
    margin: 0;
    line-height: 500px;
    
    color: #fff;
    text-align: center;
    font-size: 5em;
    font-family: Raleway, sans-serif;
    font-weight: 200;
    text-shadow: 2px 2px 5px #000;
}

.bg-app{
    width: 100%;
}

.blank-slate {
  padding: 100px;
  text-align: center;
  font-size: 4em;
  background-color: #DDD;
  margin: 50px 30px;
  border-radius: 25px;
  box-shadow: inset 0px -5px 15px rgba(179, 179, 179, 0.51);
  position: relative;
  top: -190px;
}