* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
  cursor: default;
}

body,
input,
select,
textarea {
  font-family: Raleway, calibri, sans-serif;
}


input,
textarea,
select {
  font-size: 16px;
  font-size: 1rem;
}

header#user-controls {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  z-index: 1;

  background: #9a009a;
  height: 60px;
  
  padding: 0 1em;
}

header#user-controls,
header#user-controls a {
  color: #fff;
}

header#user-controls form {
  display: inline-block;
}

header#user-controls form .group {
  white-space: nowrap;
  display: inline-block;
  vertical-align: middle;
}

header#user-controls form label {
  display: block;
  padding: 0;
  margin: 0;
  line-height: 1;
}

header#user-controls form input {
  width: 150px;
  display: block;
  margin: 0;
  padding: .5em;
  
  border: 0;
  color: #000;
}

header#user-controls .button {
  margin: 0;
  vertical-align: bottom;
  margin-bottom: 5px;
}

header#user-controls,
header#user-controls button,
header#user-controls label,
header#user-controls input {
  font-size: 14px;
}

header#user-controls #login {
  background-color: #b300b3;
}


header#user-controls button,
header#user-controls a,
.button {
  background-color: #9a009a;
  color: #fff;
  
  border: none;
  padding: .5em 1em;
  cursor: pointer;
  border-radius: 3px;
  border: 2px solid #b300b3;
  text-decoration: none;
  transition: background-color .1s linear, border-color .1s linear;
  display: inline;
}

header#user-controls #login:hover,
header#user-controls a:hover,
.button:hover {
  background-color: #cd00cd;
  border-color: #cd00cd;
}

header#user-controls #signup:hover {
  background-color: #b300b3;

}

  header#user-controls #login:hover {
    background-color: #cd00cd;
  }

  header#user-controls #signup:hover {
    background-color: #b300b3;
  }

  header#user-controls .logado img {
    width: 50px;
    height: 50px;
    vertical-align: middle;
  }

header#user-controls ul#main-menu {
  display: inline-block;
  padding: 0;
  margin: 0;
}

  header#user-controls ul#main-menu li {
    display: inline-block;
    padding: 0;
    margin: 0;
    min-width: 80px;
    text-align: center;
  }

    header#user-controls ul#main-menu li a {
      display: block;
      width: 100%;
      border: none;
      border-radius: 0;
      padding: 0 1em;
    }

header#user-controls ul#main-menu,
header#user-controls .logado,
header#user-controls .deslogado {
  line-height: 60px;
}

header#user-controls ul#main-menu {
  float: left;
}

header#user-controls .logado,
header#user-controls .deslogado {
  float: right;
}

header#user-controls form.invalid {
}

  header#user-controls form.invalid input {
    background-color: #ffefef;
    border-bottom: dotted #F22 2px;
    transition: background-color .3s linear;
  }

  header#user-controls form.invalid input:hover,
  header#user-controls form.invalid input:focus {
    background-color: #fdd;
  }
 
  header#user-controls .toggle-menu {
    display: none;
    height: 60px;
    border: none;
  }
  
  @media screen and (max-width: 1100px) {
    header#user-controls {
      padding: 0 .3em;
    }

    
    header#user-controls ul#main-menu li {
      min-width: 0;
    }
    
    header#user-controls ul#main-menu li a {
        padding: 0 5px;
    }
  }
  
  @media screen and (max-width: 750px) {
    header#user-controls .toggle-menu {
        display: block;
    }
    
    header#user-controls ul#main-menu {
        width: 100%;
    }
    
    header#user-controls ul#main-menu li {
        display: block;
        width: 100%;
    }
    
    header#user-controls .logado,
    header#user-controls .deslogado {
      background-color: #9a009a;
      width: 100%;
      text-align: center;
    }
    
  header#user-controls form {
      display: block;
  }
    
  header#user-controls .group,
  header#user-controls .group input {
      width: 100%;
      display: block;
      margin: 0;
  }
    
  header#user-controls .group label {
      margin: 0;
      line-height: 1;
      display: block;
      padding-bottom: .2em;
  }
}